@model IEnumerable<mvc_postgresql_demo.Models.Post>
<h3>Post của Blog số @ViewData["blogId"]</h3>

@if(Model.Count() > 0)
{
    <ul>
        @foreach(var post in Model)
        {
            <li>Post id: @post.PostId, Title: @post.Title</li>
        }
    </ul>
}
else
{
    <p>No post in this Blog</p>
}
