@using PagedList.Core.Mvc

@model mvc_postgresql_demo.ViewModels.BlogViewModel

@{
    ViewData["Title"] = "Blog";
}

<h2>@ViewData["Title"]</h2>

<!--<p>@ViewData["ExampleConfig"]</p>-->

@if(Model.Blogs != null){

<table class="table"> 
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["BlogIdSort"]">BlogId</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["UrlSort"]">Url</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var blog in Model.Blogs)
        {
            <tr>
                <th scope="row"><a asp-area="" asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.BlogId">@blog.BlogId</a></th>
                <td>@blog.Url</td>
            </tr>
        }
        
    </tbody>
</table>    
}


<pager class="pager-container" list="@Model.Blogs" options="@PagedListRenderOptions.TwitterBootstrapPager" asp-route-sortOrder="@ViewData["CurrentSortOrder"]" asp-action="Index" asp-controller="Blog" />